
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat%20(1).woff2') format('woff2'),
         url('fonts/Montserrat%20(1).woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* meny (header seksjonen */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.wrapper {
    max-width: 1400px;
    margin: 0 auto; 
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
.main-content {
    max-width: 1000px;
    margin: 0 auto; 
    font-family: 'Montserrat', sans-serif;
}
body, html {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1400px;
}
.menu, .footer {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
.menu {
    padding: 20px 0;
    margin-bottom: -30px;
    
}

.navdiv{
    max-width: 1000px;
    margin: 0 auto; 
    display: flex; align-items: center; justify-content: space-between;
}
.logo img{
    width: 50%;
    height: auto;

}
.header-icons {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.header-icons li {
    margin-left: 15px; 
}

.header-icons i {
    font-size: 30px; 
    color: #252525; 
}
.header-icons i:hover {
    color: #1ca2c1;
}
a {
    color: black;
    text-decoration: none; 
}
.desktop-header {
    display: none; /* Skjuler seksjonen på mobil */
}

/*main booking seksjon */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    
}

/*
.booking-section {
   
    width: 100%;
    overflow: hidden;
    padding: 20px;
    overflow-x: auto;
} */

.bestillingsskjema {
    background: white;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 1000px;
    width: 93%;
    margin-top: -220px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    gap: 15px;
    position: relative;
}
.banner {
    
    width: 100% !important; /* Sørg for at banneret tar 100% bredde */
    height: 250px;
    background: url('bildemappe/sea.jpg') center/cover no-repeat;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 20px;
    
}

nav.første-felte {
    display: flex;
    gap: 3px;
    overflow-x: auto;
    font-size: 14px;
    align-items: center;
    position: relative;   
}

nav.første-felte a {
    text-decoration: none;
    padding: 5px 10px;
    color: black;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 6px;
}

nav.første-felte a.active {
    border-bottom: 3px solid #1ca2c1;
    font-weight: bold;
    
}



form {
    display: grid;
    gap: 6px;
   
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
   
}

label {
    font-weight: bold;
    font-size: 14px;
}


input, select {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 14px;
    color: gray;
}

button {
    background: #ffcf40;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
}

button:hover {
    background: #e0a800;
}



.card {
    position: relative;
    width: 100%; 
    border-radius: 10px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    margin-top: 8%;
}
.card-image {
    margin: 0;
    padding: 0;
    position: relative;
}
.background-image {
    width: 100%;
    height: auto;
    display: block;   
}
.card-content {
    position: absolute;
    margin-top: 20px;
    margin-left: 40px;
    top: 0;
    left: 0;
    width: 80%;
    background-color:#52d3f0; 
    color: #252525;
    padding: 30px;
    border-radius: 30px 0 30px 0; 
    font-family: 'Montserrat',sans-serif;
 
}

.card-content h2 {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: bold;
}

.card-content p {
    margin: 0 0 10px;
    font-size: 16px;
   
}

.card-content .price {
    font-size: 25px;
    font-weight: bolder;
}

.cta-button {
    position: absolute; 
    bottom: 20px;
    right: 40px; 
    background-color: #ffcf40;
    color: #252525;
    border: none;
    padding: 15px 0px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight:700 !important;
    font-size: 12px;
    
}

.cta-button:hover {
    background-color: #e0b836;
}


.tilbud-section {
    display: flex;
    gap: 20px; 
    overflow-x: scroll; 
    padding: 30px 0;
    scrollbar-width: thin; 
    scrollbar-color: #ccc transparent;
    padding-left: 15px;

}


.tilbud {
    min-width: 300px; 
    flex-shrink: 0; 
    padding: 40px;
    border: 1px solid  #f6f5f2;
    border-radius: 8px;
    background-color: #fff; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
    text-align: left;
}


.tilbud:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}


.tilbud h3 {
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
    font-weight: bold;
}

.tilbud p {
    font-size: 12px;
    color: #1ca2c1; 
    margin: 0;
}


.tilbud-section::-webkit-scrollbar {
    height: 6px; 
}

.tilbud-section::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 3px;
}




.deal-card {
    position: relative;
    width: 90%; 
    border-radius: 10px; 
    overflow: hidden;
    font-family: Arial, sans-serif;
    margin-top: 5%; 
    border: 1px solid  #f6f5f2;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
    margin-left: auto; /* Sentrer horisontalt */
    margin-right: auto; /* Sentrer horisontalt */
    margin-bottom: 15px;
}

.badge {
    position: absolute;
    top: -2px;
    left: -8px; 
    background-color: #1ca2c1;
    color: #fff;
    padding: 12px 12px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 12px;
    z-index: 10;
}

.deal-image {
    width: 100%; 
    height: auto;
    display: block;
    border-radius: 10px; 

}

.deal-content {
    padding: 15px;
}

.deal-content h2 {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: bold;
    font-family:'Montserrat', sans-serif ;

}

.deal-content p {
    margin: 0 0 10px;
    font-size: 14px;
    font-family:'Montserrat', sans-serif ;
}

.deal-content .price {
    position: relative;
    bottom: -19px;
    font-size: 16px;
    font-weight: bold;
    color: #252525;
    margin-top: 10px;
    font-family:'Montserrat', sans-serif ;
    border-bottom: 3px solid #1ca2c1; 
    display: inline-block;
}


/* footer */
/*flags */
.footer-section, .flags, .payment-methods, .sosiale-medier {
    max-width: 1000px; 
    margin: 0 auto;
}
.footer-container {
    width: 100%;
    background-color: #252525;
    padding: 20px;
    text-align: center;
    color: #e8e8e8;
    position: relative; 
    bottom: 0; 
    left: 0;
}
.flags {
    margin-bottom: 30px;
}
.Sverigee, .Danmarke, .Norgee, .soumee, .Nederlande {
    display: inline-block; 
    vertical-align: middle; 
    font-size: 16px;
    margin-right: 20px !important;
    margin-bottom: 5px;
}

.flags ul li img {
    width: 40px;
    height: auto;
}

.payment-methods h2 {
    justify-content: left;
    margin-bottom: 1rem;
    font-size: 14px;
}
.payment-methods{
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}
.payment-methods ul {
    display: flex;
    gap: 20px; 
    list-style: none;
    padding: 0;
    margin: 0;
}

.payment-methods ul li i {
    font-size: 25px; 
    margin-bottom: 40px; 
    color: #e8e8e8; 
}


.footer-section {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items:center; 
    background-color: #252525;
    color: #e8e8e8; 
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    gap: 10px;
    margin-bottom: 30px;
}

.footer-section article,
.footer-section aside {
    flex: 1; 
}

.footer-section h3 {
    font-size: 0.89rem; 
    margin-bottom: 10px; 
    font-weight: bold;
}
.footer-section p{
    font-size: 16px;
}

.nyheter-tilbud form {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    margin-bottom: 10px; 
    margin-top: 10px; 
    border: 1px solid #e8e8e8; 
    padding: 12px; 
    border-radius: 4px; 
    box-sizing: border-box; 
    

}


.kundeservice {
    align-self: flex-start; 
    margin-right: auto; 
    text-align: left; 
   
}
.nyheter-tilbud {
    align-self: flex-start; 
    margin-right: auto; 
    text-align: left;
}

.nyheter-tilbud input {
    flex: 1; 
    padding: 8px 2px; 
    font-size: 13px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    outline: none; 
    box-sizing: border-box; 
    width: 75%; 
}
.nyheter-tilbud button {
    padding: 7px 2px; 
    background-color: #ffcf40; 
    border: none; 
    border-radius: 4px; 
    color: black; 
    font-weight: bold; 
    cursor: pointer; 
    margin-left: 2px;
    box-sizing: border-box; 
    width:27%; 
    font-size: 13px;
}


.nyheter-tilbud button:hover {
    background-color: #ffcf40; 
}

.kundeservice ul {
    list-style: none;
    padding: 0; 
    margin: 0; 
    line-height: 1.8; 
}

.kundeservice li {
    color: #e8e8e8;
    cursor: pointer; 
}

.kundeservice li:hover {
    text-decoration: underline; 
}


.sosiale-medier h2 {
    justify-content: left;
    margin-bottom: 1rem;
    margin-top: 6%;
    font-size: 16px;
}
.sosiale-medier{
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}
.sosiale-medier ul {
    display: flex;
    gap: 20px; 
    list-style: none;
    padding: 0;
    margin: 0;
}
.sosiale-medier ul li {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #e8e8e8;
}

@media (min-width: 1024px) {
  
    body {
        max-width: 1400px;
    }
    header.menu {
        max-width: 1400px;
        width:100%;
        display: flex;
        justify-content: space-between; 
       
    }
    header .logo {
        margin-top: 20px;
    }
    .navbar {
        padding: 0px 20px;
        margin-bottom: 0;
    }
    .navdiv {
        margin-left: 0; /* Fjern marginen her for å sentrere innholdet */
    }
    .header-icons li {
        display: none;
    }
    .desktop-header {
        display: flex;
        flex-direction: column; 
        justify-content: space-between; 
        width: 100%; /* Tar 100% av bredden */
        margin-bottom: 10px;
        
    }
    .desktop-header .link2, .link1 {
        border: 1px solid #1ca2c1;
        color: #1ca2c1;
        border-radius: 20px;
        padding: 5px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        margin-left: 10px;
        font-size: 14px;
    }
   
    
    .search-desktop-container, .desktop-buttons {
        display: flex;
        justify-content: flex-end; 
    }
    .desktop-buttons {
        
        margin-top: 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold; 
        font-size: 13px;
    }
    .desktop-buttons a {
        margin-right: 15px;
    }

    



    .footer-container {
        max-width: 1400px;
        margin: 0 auto;
    }

    
    .footer-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        gap: 90px; 
        margin-bottom: 30px;
    }

    
    .flags ul {
        display: flex;
        gap: 20px;
        justify-content: center;
        list-style: none;
        padding: 0;
    }
    .media {
        display: flex;
        
    }
}






















/*Hotell side */
.container {
    padding: 0rem; 
    position: relative;
}
.heart-icon {
    position: absolute;
    top: 10px;  
    right: 10px;
    font-size: 18px; 
    color: white; 
    border: 0.5px solid white; 
    border-radius: 50%;
    padding: 2px; 
}
.heart-icone {
    position: absolute;
    top: 10px;  
    right: 10px; 
    font-size: 18px; 
    color: red; 
    border: 0.5px solid white; 
    background-color: white;
    border-radius: 50%;
    padding: 2px;
}


.slider img {
    width: 100%;
}



.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
    margin-bottom: 25px;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 13;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slider-nav {
   display: flex;
   column-gap: 1rem;
   position: absolute;
   bottom: 1.25rem;
   left: 50%;
   transform: translateX(-50%);
   z-index: 1;
}

.slide img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;

}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0,75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover {
    opacity: 1;
}


.menue{
    
    position: relative;
    display: flex;
    max-width: 600px;
    margin: 0 auto;
}
.menue::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 2px; 
    background-color: #e8e8e8; 
}
.radio-button {
    display: none;
   
}


.button {
    border: none;
    background: none;
    font-size: 18px;
    font-weight: 500;
    color: black;
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: color 0.3s, border-color 0.3s;
}


.radio-button:checked + .button {
    color: #1ca2c1;
    border-bottom: 4px solid #1ca2c1;
}
a:focus .button, a:hover .button {
    color: #1ca2c1;
    border-bottom: 4px solid #1ca2c1;
}

.fantastisk-container{
    margin-top: 40px;
    padding: 1rem;
}
.icon--fantastisk i {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 2px;
    color:#ffcf40 ;
}
.fantastisks {
    display: flex; 
    align-items: center; 
    margin-bottom: 10px;
}
.rat, .views {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px; 
}

.rat {
    background-color: green;
    color: white;
    padding: 5px 6px;
    border-radius: 12px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-right: 10px;
}

.views {
    color: #252525;
    font-size: 14px;
    font-weight: bold;
}
.fantastisk-container p{
    color: #1ca2c1;
}

.fasititeter h2 {
    margin-top: 40px;
    padding: 0.6rem;
}
.fasititeter p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
    padding: 0.6rem;
}
.fasiliteter-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items:center; 
    color: #252525; 
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    gap: 10px;
    padding: 1rem;
}
.icon-description {
    margin-bottom: 10px;
    margin-right: 30px; 
}
.eien-fasiliteter {
    color: #1ca2c1;
    padding: 0.8rem;
    
}


.kart {
    padding: 0rem;
    margin-top: 30px;
}

.map {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.map-iframe {
    width: 100%; 
    height: 200px; 
    border: none;
    border-radius: 10px;
}

 .anmeldelsers{
    position: relative; 
    margin-top: 25px;  
    display: flex;
    flex-direction: column; 
    align-items: center;     
    justify-content: center; 
    text-align: center;      
    width: 100%;
    max-width: 1000px;  
  }

  .anmeldelsers h2 {
    text-align: left;      
    margin: 0;              
    padding-left: 20px;    
    width: 100%;            
    max-width: 100%;        
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: 10; 
}

.anmeldelser {
    max-width: 1000px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px; 
}

.anmel-image{
    width: 100%; 
    height: auto; 
    display: block;
    margin-top: 10px;
    
}

.anmel-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
    padding: 20px;
    text-align: left;
    flex: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 0px 0px 10px 10px;
    font-family: 'Montserrat', sans-serif;

}

.anmel-content h3 {
    font-size: 1.2em;
    margin: 10px 0;
    font-family: 'Montserrat', sans-serif;
}
.large-point {
    font-size: 2em; 
    color: black; 
}

.anmel-content p {
    font-size: 0.9em;
    color: #252525;
    display: inline-block;
    line-height: 1.2;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 0;
}

.rating-reviews {
    display: flex; 
    align-items: center; 
}
.rating, .reviews {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px; 
}

.rating {
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 12px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-right: 10px;
}

.reviews {
    color: #252525;
    font-size: 14px;
    font-weight: bold;
}
.anmel-price {
    font-size: 1.5em !important;
    margin-top: 10px !important;
    
}























/* order side */
.søke-tabs{
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    scroll-behavior: smooth;
    background-color: #1ca2c1;
    margin-bottom: 15px;
    align-items: center;
    padding: 2px 0; 
    margin-top: 15px;
}
.søke-tab{
    flex: 0 0 auto; 
    padding: 5px 15px;
    border: none;
    background: none;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    border-bottom: 2px solid transparent;
    margin-right: 5px;
    transition: border-color 0.3s ease, background-color 0.3s ease; 
    color: #f6f5f2;
    font-size: 15px;
}

.søke-tabs::-webkit-scrollbar {
    height: 3px;
}
.søke-tabs::-webkit-scrollbar-thumb {
    background-color: #f6f5f2;
    border-radius: 5px;
}
.søkefelt-icon {
    
    color: white;
    font-size: 30px;
    margin: 0 10px; 
    line-height: 1;
    display: flex; 
}




.hotellseksjon {
    max-width: 1000px;
    margin: 0 auto; 
    padding: 10px;
}

details {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #252525;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
}

summary:hover {
    color: #252525;
}

.arrow {
    font-size: 14px;
    margin-left: 5px;
}

details[open] .arrow {
    transform: rotate(180deg);
}

.hotell-info {
    margin-top: 10px;
    text-align:start;
}

.hotell-bilde {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hotell-info h3 {
    margin: 5px 0;
    font-size: 15px;
    font-weight: bold;
    text-align: start;
}
.icon-divevalg{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 2px;
    color:#ffcf40;
    text-align: start;
}
.hotell-detaljer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;

}

.detalj {
    display: flex;
    align-items: center; 
    gap: 8px; 
}

.hotell-detaljer li {
    margin-bottom: 5px;
}








.order-title h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
.opplysninger1 h3 {
    margin-top: -22px;
    margin-bottom: 5px;
}
/*
.opplysninger1 label[for="førstnavn"] {
    font-size: 13.5px;       
    font-weight: bold;   
    color: #333;            
}
.opplysninger1 #førstnavn {
    font-size: 18px;     
    padding: 5px;           
    border: 2px solid #e8e8e8; 
    border-radius: 5px;     
    width: 100%;         
    box-sizing: border-box; 
    margin-top: 10px;
    margin-bottom: 10px;
}


.opplysninger1 label[for="etternavn"] {
    font-size: 13.5px;       
    font-weight: bold;   
    color: #333;            
}
.opplysninger1 #etternavn {
    font-size: 18px;     
    padding: 5px;           
    border: 2px solid #e8e8e8; 
    border-radius: 5px;     
    width: 100%;         
    box-sizing: border-box; 
    margin-top: 10px;
    margin-bottom: 10px;
}
*/

.datoer {
    margin-top: 10px;        
}
.datoer label {
    font-size: 13.5px;            
    font-weight: bold;          
    display: block;             
    margin-bottom: 5px;         
}


.datoer .inputs {
    display: flex;              
    gap: 27px;                
    justify-content: flex-start;
}

.datoer input {
    font-size: 12px;             
    padding: 8px;             
    border: 1px solid #ccc;  
    border-radius: 3px;
    box-sizing: border-box;    
}
.inputs{
    margin-bottom: 20px;
}
.datoer #dayy {
    width: 160px;                
}
.datoer #monthh {
    width: 90px;             
}
.datoer #yearr {
    width: 50px;               
}








.kjønn label[for="title"] {
    font-size: 13.5px;
    font-weight: bold;
    margin: 0;
}

.kjønn legend {
    font-size: 13.5px;
    font-weight: bold;
    margin-bottom: 15px;   
}
fieldset.kjønn {
    border: none;
    display: flex;           
    flex-direction: row;        
    align-items:center;    
}
fieldset.kjønn label {
    margin-right: 100px; 
    margin-bottom: 5px;
}









.kontakt-informasjon {
    display: flex;
    flex-direction: column; 
    margin-top: 10px;   
}
.kontakt-informasjon input {
    width: 100%;                      
    font-size: 13px;           
    border: 1px solid #e8e8e8;   
    border-radius: 5px;       
    box-sizing: border-box; 
    margin-bottom: 16px; 
    height: 35px;  
}
.kontakt-informasjon label {
    font-size: 13px;        
    font-weight: bold;      
    margin-bottom:8px;   
}
.select-land {
    height: 37px; 
    border: 1px solid #e8e8e8;
    border-radius: 5px; 
    margin-bottom: 16px;  
    max-width: 1000px;
    width: 100%;
}
.select-land option {
    word-wrap: break-word; 
    overflow: hidden;      
    
}

.opplysninger1 {
    margin-top: 0;   
    flex-direction: column; 
    display: flex;
    flex-wrap: wrap;
    padding: 10px; 
    margin-left: 20px;
    margin-right: 20px;
    background-color: #f6f5f2;
    border-radius: 10px;
    font-style: 'Montserrat';
    margin-bottom: 15px;
}
.siste-trinn{
    margin-left: 20px;
    height: 45px;
    background-color: #ffcf40;
    border: none;
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
    font-family: 'Montserrat',sans-serif;
    font-weight: bolder;
    margin-bottom: 30px;
}













